.search {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

input
{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 12px;
    width:20%;
    transition:width 0.3s;
}

input:hover
{
  width:23%;
}

input
{
    margin-right: 30px;
}

button
{
    cursor:pointer;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 12px;
    width:10%;
    background-color: rgb(1, 1, 41);
    color:rgb(195, 204, 255);
    transition:background-color 0.2s;
    border:none;
}

button:hover
{
  background-color: rgb(12, 21, 104);
  border:none;
}

#showList {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  float: left;
  border-radius: 0px;
  transition:border-radius 0.3s;
}

img:hover {
  border-radius: 50px;
}

h2 {
  margin-top: 0;
}

