.search {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

input, button
{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 12px;
}

input
{
    margin-right: 30px;
}

button
{
    cursor:pointer;
}

#showList {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  float: left;
}

h2 {
  margin-top: 0;
}
